@font-face {
   font-family: 'Crypt Of Tomorrow';
   src: url('../font/crypt-of-tomorrow.woff');
}

@font-face {
   font-family: 'Determination Mono';
   src: url('../font/determination-mono.woff');
}

@font-face {
   font-family: 'Determination Sans';
   src: url('../font/determination-sans.ttf');
}

* {
   user-select: none;
}

img {
   -ms-interpolation-mode: nearest-neighbor;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-pixelated;
   image-rendering: pixelated;
}
