@font-face {
   font-family: 'BattleName';
   src: url('./assets/font/mars-needs-cunnilingus.woff');
}

@font-face {
   font-family: 'Dialogue';
   src: url('./assets/font/determination-mono.woff');
}

@font-face {
   font-family: 'Menu';
   src: url('./assets/font/determination-sans.woff');
}

@font-face {
   font-family: 'Stat';
   src: url('./assets/font/crypt-of-tomorrow.woff');
}

body {
   background-color: black;
   height: 100%;
   margin: 0;
   width: 100%;
}
